	<footer class="main-footer">
		<div class="main-width">
			<a>Terms & Privacy</a>
			<div class="social">
				<a href="https://medium.com/insightsnetwork"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/medium.svg"></a>
				<a href="https://twitter.com/instartoken"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/twitter.svg"></a>
				<a href="https://www.instagram.com/instartoken/"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/instagram.svg"></a>
			</div>
		</div>
	</footer>	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/slick.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/flipclock.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/wow.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/canvasjs.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/clipboard.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/scripts.js"></script>
</body>
</html>
