.blocker {
    z-index: 1000 !important;
}

.modal a.close-modal {
    background-image: url(./images/home/close.svg) !important;
    top: 20px !important;
    right: 20px !important;
    width: 22px !important;
    height: 22px !important;
}

.request-demo {
    padding: 16px 54px !important;
    @media (max-width: 767px) {
        padding-left: 16px !important;
        padding-right: 16px !important;
        width: 100% !important;
    }

    h2 {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 48px;
    }

    .btn {
        border-radius: 4px !important;
        font-size: 20px;
        line-height: 20px;
    }
}

.demo-form {
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea {
        color: #000000;

        &:focus:not([readonly]) {
            border-bottom: 1px solid #333333;
            box-shadow: 0 1px 0 0 #333333;
        }
    
        // Focused label style
        &:focus:not([readonly])+label {
            color: #333333;
        }

        &:focus.valid ~ label {
            color: #000000;
        }
    }

    %custom-success-message {
        content: attr(data-success);
        color: #000000;
    }

    .input-field {
        .prefix {
            &.active { color: #333333; }
        }

        & > label {
            color: #333333;
        }
    }

    #hiddenRecaptcha-error {
        top: 40px;
    }
}
