.slider-use-cases,
.slider-use-cases1,
.slider-style {
	margin-top: 46px;
}
.slide-style {
	padding: 10px;
}
@media (max-width: 767px) {
	.slick-prev, .slick-next {
		width: 50px;
		height: 50px;
		background-size: contain;
	}
	.slick-prev {
		left: 7px;
	}
	.slick-next {
		right: 7px;
	}
	.slider-use-cases,
	.slider-use-cases1,
	.slider-style {
		margin-top: 20px;
	}
}
